.boxed-list {
	margin-top: 5px;
}

.boxed-list .header {
	padding: 10px 0;
}

.boxed-list .header .prefixes, .boxed-list .header .suffixes {
  padding: 0 10px;
}


row.expander image.expander-row-arrow:dir(ltr) {
  -gtk-icon-transform: rotate(0.5turn);
  transition: -gtk-icon-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

row.expander image.expander-row-arrow:dir(rtl) {
  -gtk-icon-transform: rotate(-0.5turn);
}

row.expander:checked image.expander-row-arrow {
  -gtk-icon-transform: rotate(0turn);
}

list > row.activatable:last-child{
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

indicatorbin {
  margin: 0 5px;
}
