.containerwidget > row:nth-last-child(2) {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.containerwidget > row:nth-last-child(2) row.header {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.containerwidget > .expander:nth-last-child(2):checked row.header {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.containerwidget > .expander:nth-last-child(2):checked .nested row:last-child{
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

levelbar block.filled.high {
	background-color: @warning_bg_color;
}

levelbar block.filled.full {
	background-color: @error_bg_color;
}

.combined-dropdown dropdown button {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.combined-dropdown dropdown:first-child button {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.combined-dropdown dropdown:last-child button {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
